:root {
  --color-orange: hsl(25, 97%, 53%);

  --color-white: hsl(0, 100%, 100%);
  --color-gray-500: hsl(217, 12%, 63%);
  --color-gray-900: hsl(213, 19%, 18%);
  --color-gray-950: hsl(216, 12%, 8%);
  --color-black: black;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

* {
  margin: 0;
}
#app {
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

body {
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
  font-family: "Overpass", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
  background-color: var(--color-black);
  
  min-height: 100vh;
}

img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
}

input,
button,
textarea,
select {
  font: inherit;
}